/* Fonts import */
@import url("https://fonts.bunny.net/css?family=comfortaa:600&display=swap");
@import url("https://fonts.bunny.net/css?family=mansalva:400&display=swap");
/* General Attributes */
ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.passing-underline {
  position: relative;
}
.passing-underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.passing-underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hidden {
  display: none !important;
}
body {
  margin: 0px;
  color: white;
  font-family: "Comfortaa", "Arial", "Helvetica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 25px;
}
h2,
h3 {
  font-family: "Mansalva", "Georgia", "Times New Roman", serif;
  font-style: normal;
}

section {
  min-height: 100vh;
  background-size: cover;
  border-bottom: solid black 5px;
  background-position: center;
}

.main-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/backgrounds/main-banner.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/backgrounds/team-banner.webp");
}

.location-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("images/backgrounds/location-banner.webp");
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 60px;
  padding-left: 10px;
}

#popup-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
}

.strip {
  border: white 2px solid;
  border-radius: 2px;
  width: 20px;
  height: 0px;
  margin: 2px;
}
#page-navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  height: max-content;
  padding: 0px;
}
#popup-close-btn {
  display: flex;
  margin: 18px 10px;
  cursor: pointer;
  flex-direction: column;
}

.popup-navbar-links {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#page-links {
  margin-left: 20px;
}
.page-link {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cta-popup-navbar {
  display: none;
}
.hero {
  display: flex;
}
.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.logo {
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid white;
}
.logo-heading {
  margin-left: 20px;
  font-size: 1.5rem;
  user-select: none;
}

.cta-navbar {
  margin-right: 10px;
}
.cta-links {
  display: flex;
}

.cta-link a {
  border: white solid 1px;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 20px;
  transition: background-color 0.25s, color 0.25s;
}
.cta-link a:hover {
  border: white solid 1px;
  background-color: #fff;
  color: black;
}

/* General Banner Atributes */

#taglline,
#team,
#location-heading {
  text-align: center;
  font-size: 4rem;
  user-select: none;
  margin: 0px 100px;
  line-height: 60px;
}

#team,
#location-heading {
  margin: 0px;
  padding: 40px 0px;
}
/* Main Banner Atributes */

/* Team Section */

.team-members {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0px auto;
  align-items: center;
  justify-content: space-around;
}
.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  margin: 10px 10px 30px;
}

.team-member-name {
  font-size: 1.7rem;
  margin: 10px;
}

.team-member img {
  border-radius: 10px;
}

/* Location Section */

.locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.location {
  --gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border: black 1px solid;
  border-radius: 10px;
  min-height: 500px;
  width: 500px;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  padding: 0px 5px 30px;
  transition: transform 0.25s, box-shadow 0.25s;
}

.location:hover {
  transform: translate(-4px, -4px);
  box-shadow: 5px 5px 1px black;
}

.location h3 {
  text-align: center;
  margin-top: 70px;
  font-size: 2.5rem;
}
.location p {
  text-align: center;
  font-size: 1.3rem;
  max-width: 60%;
}
.location a {
  border: white solid 1px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 130px;
  transition: background-color 0.25s, color 0.25s;
}
.location a:hover {
  background-color: #fff;
  color: black;
}

#schaffhouse {
  background-image: var(--gradient), url("images/locations/schaffhouse.webp");
}

#tessin {
  background-image: var(--gradient), url("images/locations/tessin.webp");
}
#oost {
  background-image: var(--gradient), url("images/locations/oost.webp");
}

/* Footer Section */

footer {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
.footer-div {
  padding: 10px;
}
.footer-div ul {
  padding: 0px;
}
.footer-div ul li {
  margin-bottom: 10px;
}

/* Delivery Page */
#delivery {
  background-color: rgb(15, 15, 15);
  padding: 50px;
}

#delivery form {
  padding: 20px;
  margin: 0px auto 20px;
  max-width: 800px;
  width: 80%;
  background-color: black;
  border-radius: 12px;
  box-sizing: border-box;
}
#delivery-page-heading {
  margin: 20px auto;
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
}

#delivery form p {
  text-align: center;
  margin: 40px auto;
}

#delivery form h3 {
  font-size: 2em;
  text-align: center;
}
.cart-item {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.cart-item input {
  width: 50px;
  background-color: rgb(15, 15, 15);
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
}

#delivery form button {
  display: block;
  width: 125px;
  height: 50px;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
  background-color: rgb(15, 15, 15);
  margin: 20px auto;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
}

#delivery form button:hover {
  background-color: white;
  color: black;
  border-color: rbg(15, 15, 15);
}

#input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#input-grid input[type="text"],
#input-grid input[type="tel"],
#input-grid textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  color: white;
  background-color: rgb(15, 15, 15);
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

#input-grid input[type="text"]:focus,
#input-grid input[type="tel"]:focus,
#input-grid textarea:focus {
  border-color: white;
  outline: none;
}

#input-grid textarea {
  resize: vertical;
  max-height: 160px;
  min-height: 80px;
}

#stepTwoBtns {
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
  width: 500px;
}
/* Menu Page */

.content {
  background-color: rgb(15, 15, 15);
  padding: 20px 10%;
}

.content h2 {
  text-align: center;
  font-size: 5em;
  margin: 20px auto;
}
.categories {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 50px auto;
}

.category {
  border: #fff 1px solid;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.25s, color 0.25s;
  user-select: none;
}
.category:hover {
  background-color: #fff;
  color: black;
}
.tabs {
  max-width: 800px;
  margin: 20px auto;
}

.tab-heading {
  font-size: 2em;
  display: none;
}

.minor-tab-heading {
  text-align: center;
  font-family: "Mansalva", "Georgia", "Times New Roman", serif;
  font-size: 2em;
}

.item {
  display: flex;
  height: 250px;
  margin-bottom: 50px;
  border: white 1px solid;
  border-radius: 15px;
  overflow: hidden;
}
.item div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* Story Page */
.story-heading {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.story-heading h2 {
  margin-bottom: 100px;
}

.story-div {
  margin: 200px auto;
  display: flex;
  justify-content: space-around;
}
.story-div span {
  font-size: 2.5em;
  writing-mode: vertical-rl;
  rotate: 180deg;
  text-align: center;
}
.story-div img {
  max-width: 400px;
}
.story-div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.story-div div p {
  text-align: left;
  line-height: 25px;
  margin: 0px;
  max-width: 400px;
}

#story-second {
  rotate: 0deg;
}
/* Media Queries */
@media (max-width: 1280px) {
  .story-div {
    margin: 0px auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  #people {
    flex-direction: column-reverse;
  }
  .story-div span {
    writing-mode: horizontal-tb;
    rotate: 0deg;
    margin: 50px;
  }

  .story-div div p {
    margin: 30px;
  }
  .story-div img {
    width: 100%;
    margin: 20px;
  }

  .cart-item {
  }
}

@media (max-width: 800px) {
  .cta-navbar {
    display: none;
  }
  header {
    justify-content: flex-start;
  }
  #page-navbar {
    height: 100vh;
    z-index: 1;
  }

  .hero {
    width: 100%;
  }
  .logo-div {
    margin: 0px;
    width: 100%;
    justify-content: center;
  }
  .logo-heading {
    margin-left: 10px;
  }
  .cta-popup-navbar {
    display: flex;
    margin-bottom: 150px;
  }
  .cta-popup-link {
    margin-top: 40px;
    margin-left: 20px;
  }
  .cta-popup-link a {
    border: white solid 1px;
    padding: 10px 20px;
    transition: background-color 0.25s, color 0.25s;
    border-radius: 15px;
  }
  .cta-popup-link a:hover {
    border: white solid 1px;
    background-color: #fff;
    color: black;
  }
  footer {
    flex-direction: column;
    padding-left: 30px;
  }
  .categories {
    flex-wrap: wrap;
    width: 300px;
    padding: 0px;
  }

  .category {
    margin: 10px auto;
    width: 110px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
  }
  .item {
    flex-direction: column;
    margin: 50px auto;
    width: 200px;
    height: 500px;
  }
  .item img {
    width: 200px;
    height: 200px;
  }
  #delivery {
    background-color: rgb(15, 15, 15);
    padding: 0px;
    min-height: auto;
  }
  #delivery form {
    border-radius: 0px;
    width: 100%;
    margin: 0px;
  }
  .cart-item {
    width: 90%;
  }
}

@media (max-width: 600px) {
  #input-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 580px) {
  #taglline,
  #team,
  #location-heading {
    font-size: 3rem;
    margin: auto;
  }
  .story-heading h2 {
    line-height: 100px;
  }
  .item {
    height: fit-content;
  }
  #stepTwoBtns {
    width: auto;
  }
}
